<h1>Los Titulares</h1>
<div class="body-news">
    <div class="container">
        <div class="box">
            <div class="imgbox">
                <img src="../../../assets/1.jpg" alt="beshaimagen">
            </div>
            <h2>Elmo Romple La Tv</h2>
            <p>Elmo el muñeco sexy de la television
                <br>
                <a href="#">Leer mas..</a>
            </p>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="../../../assets/2.jpg" alt="beshaimagen">
            </div>

            <h2>Rock y fuego</h2>
            <p>Los fans se volvieron locos y casi se quemaron vivos.
                <br>
                <a href="#">Leer mas..</a>
            </p>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="../../../assets/3.jpg" alt="beshaimagen">
            </div>
            <h2>Nueva portada Queen</h2>
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit.Illo,neque.
                <br>
                <a href="#">Leer mas..</a>
            </p>
        </div>
        <div class="box">
            <div class="imgbox">
                <img src="../../../assets/4.jpg" alt="beshaimagen">
            </div>
            <h2>Fue algo cool</h2>
            <p>Lorem ipsum dolor sit amet
                consectetur adipisicing elit.Illo,neque.
                <br>
                <a href="#">Leer mas..</a>
            </p>
        </div>




    </div>
</div>