<footer id="footer">
    <div class="footer-content">
        <h3>Invictus</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <ul class="socials">
            <li>
                <a href="" class="social"> <i class="fab fa-facebook"> </i></a>
            </li>
            <li>
                <a href="" class="social"> <i class="fab fa-twitter"> </i></a>
            </li>
            <li>
                <a href="" class="social"> <i class="fab fa-google-plus"> </i></a>
            </li>
            <li>
                <a href="" class="social"> <i class="fab fa-youtube"> </i></a>
            </li>
            <li>
                <a href="" class="social"> <i class="fab fa-linkedin"> </i></a>
            </li>
        </ul>
    </div>
    <div class="footer-botton">
        <p>copyright &copy;2021 code-diseño <span>Angular </span></p>
    </div>
</footer>