<section class="contenedor" id="servicio">
   <h2 class="subtitulo">Mision Web</h2>
   <div class="contenedor-servicios">
    <img src="../../../assets/checklist.svg" alt="">
    <div class="checklist-servicios">
        <div class="service">
            <h3 class="n-service">
               <span class="number">1</span>Informacion Global
               <p class="par">Las noticias se situan a nivel local e internacional</p>
            </h3>
        </div>
        <div class="service">
            <h3 class="n-service">
                <span class="number">2</span>Actualizaciones Constantes
                <p class="par">Contiene informacion veridica </p>
             </h3>
        </div>
        <div class="service">
            <h3 class="n-service">
                <span class="number">3</span>Hecho a la antigua
                <p class="par">Este pagina de noticias fue hecha humildemente sin necesidad de bootstrap 
                    u otro  framework :) </p>
             </h3>
        </div>
    </div>
   </div>
</section>