.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;/*todo lo que salga de esa meidia se oculte*/
    margin: auto;/*pa centrar todo el contenido*/
    padding: 50px 0; /*tenga un espaciado entre los elementos*/
}


.subtitulo{
    text-align: center;
    color: rgba(0, 0, 0, 0.582);
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-servicios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicios img{
    width: 40%;/*ancho en %*/
}
.checklist-servicios{
    width: 45%;
}

.service{
    margin-bottom: 22px;
}
/*contenido del h3*/
.n-service{
    margin-bottom: 7px;
    color:crimson;
}
.number{
    margin-right: 8px;
    display:inline-block;
    border-radius: 18px;
    background-color: rgb(225, 169, 65);
    width: 40px;
    text-align: center;
    font-weight: 400;
}

.par{
    color: black;
    margin-left: 50px;
}

@media screen and (max-width: 768px){
    .contenedor-servicios img{
        width: 80%;
        margin-bottom: 40px;
    }

    .par{
        margin-left: 0;
    }
    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px){
    .subtitulo{
        font-size: 30px;
    }
}
