<div class="news2-body">

    <div class="container">
        <div class="card">
            <div class="imagen">
                <img src="../../../assets/1.jpg">
            </div>
            <div class="content">
                <h2>Card One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptas expedita voluptatibus quos
                    rerum! Laboriosam incidunt dolores quo, modi veritatis provident obcaecati qui, quasi repellat
                    quibusdam, reprehenderit ad vitae quam.</p>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="../../../assets/3.jpg">
            </div>
            <div class="content">
                <h2>Card two</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptas expedita voluptatibus quos
                    rerum! Laboriosam incidunt dolores quo, modi veritatis provident obcaecati qui, quasi repellat
                    quibusdam, reprehenderit ad vitae quam.</p>
            </div>
        </div>
        <div class="card">
            <div class="imagen">
                <img src="../../../assets/2.jpg">
            </div>
            <div class="content">
                <h2>Card three</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptas expedita voluptatibus quos
                    rerum! Laboriosam incidunt dolores quo, modi veritatis provident obcaecati qui, quasi repellat
                    quibusdam, reprehenderit ad vitae quam.</p>
            </div>
        </div>
        
    </div>

</div>