<nav>
    <!--casilla-->
        <input type="checkbox" id="check">
        <!--etiqueta que toma la accion al estar chekeaado la casilla y pasar a burger-->
        <label for="check" class="checkbtn">
            <i><img src="../../../assets/burger.svg" alt=""></i>
        </label>
    <!--logo-->
    <a href="#" class="enlace">
        <h1 class="logo">ALLNEWS.PY</h1>
    </a>
    <ul>
       
        <li><a href="#">Tecnologia</a></li>
        <li><a href="#">Espectaculo</a></li>
        <li><a href="#">Farandula</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Artes</a></li>
    </ul>
</nav>