* {
    margin: 0;
    padding: 0;
    font-family: lato;
}
.banner_body {
	display: flex;
	
}
 


.slider-frame {
	width: 1270px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;

}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 30s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {

	width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	75% {margin-left: -200%;}
	
	80% {margin-left: -300%;}
	100% {margin-left: -300%;}

}
